
<!--<ul>
    <li ng-repeat="recipe in recipes"><a href="#/recipes/{{ recipe.id }}">{{ recipe.name }}</a>
        <ol>
            <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}</li>
        </ol>
    </li>
</ul>
-->
<section>
    <button type="button" class="btn btn-primary btn" ng-click="open()">
    <span class="glyphicon glyphicon-plus"></span> Add New Recipe
</button>
    <button class="btn btn-primary" ng-click="deleteRecipe()"><span class="glyphicon glyphicon-remove"></span> Delete Recipe</button>
</section>

<div ng-repeat="recipe in recipes">
    <div class="col-sm-6 col-md-4">
        <div class="recipe-card">
            <h2>{{recipe.name}}</h2>
            <img src="{{recipe.photo}}">

            <p>{{recipe.description}}</p>
        </div>
    </div>

</div>


<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-lg" ng-click="open()">
    <span class="glyphicon glyphicon-plus"></span> Add New Recipe
</button>

 Modal -->


